<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1"/>
    <link rel="stylesheet" th:href=@{/css/styles.css}>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <title>Spring Boot Application</title>

    <script>
        function getInputId(id) {
                id = id.substr(22,id.length);
                return id;
                }

        function getSum(id) {
          var thisId = getInputId(id);
          var price = document.getElementById('price-input_'+thisId).value;
          var basketQuantity = document.getElementById('basket-quantity-input_'+thisId).value;
          var sum = parseFloat(price) * parseFloat(basketQuantity);

          if(sum > 0){
          document.getElementById('product-basket-input_'+thisId).value = sum.toFixed(2) + ' PLN';
          } else {
          document.getElementById('product-basket-input_'+thisId).value = null;
          }
        }

        window.onload = function() {
            sumAll();
        };

        function sumAll() {
        var sum = 0.0;
          var list = document.querySelectorAll('[id^="product-basket-input"]');
            for (const element of list){
                var text = element.value.replace(" PLN", "");
                var floatValue = parseFloat(text);

                if(!isNaN(floatValue)){
                    sum += floatValue;
                }
            }
            document.getElementById('basket-input').value = sum.toFixed(2) + ' PLN';
        }

    </script>
</head>
<body>
<div class="my-container table-sized">
    <h2>Welcome to Chocolate Store. Add items to the basket</h2>
    <h2>Shopping Card:</h2>
    <div class="container">
        <table class="table">
            <head>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Price</th>
                    <th scope="col">Limit</th>
                    <th scope="col">Quantity in Basket</th>
                    <th scope="col">Basket</th>
                </tr>
            </head>
            <tbody>

            <!--            <tr th:if="${products.isEmpty()}">
                            <td colspan="2"> Store is currently empty, we apologise.</td>
                        </tr>-->

            <tr th:each="productBasket : ${productBaskets}">
                <th:block th:with="productId=${productBasket.productId}">


                    <!-- BRAND -->
                    <td><span th:text="${productBasket.productName}"></span></td>

                    <!-- PRICE -->
                    <td><input th:id="price-input+'_'+${productId}" ;
                               class="static"
                               type="text" th:value="${productBasket.productPrice} + ' PLN'" readonly/></td>

                    <!-- AVAILABLE LIMIT QUANTITY -->
                    <td>
                        <input th:id="quantity-input+'_'+${productId}"
                               class="form-control form-control-sm"
                               type="number"
                               th:value="${productBasket.stockQuantity}" readonly>
                    </td>

                    <!-- QUANTITY IN BASKET -->
                    <td>
                        <form th:action="@{/shopping}" th:object="${basketProductPostDTO}" method="post">

                            <!-- add Account ID-->
                            <input hidden name="accountId"
                                   th:id="accountId-input+'_'+${productId}"
                                   th:value="${productBasket.accountId}"/>

                            <!--  Product ID   -->
                            <input hidden name="productId"
                                   th:value="${productId}"/>

                            <!--  Basket ID   -->
                            <input hidden name="basketProductId"
                                   th:value="${productBasket.basketProductId}"/>

                            <!--  Basket Quantity   -->
                            <div class="add-basket">
                                <input name="basketQuantity"
                                       th:id="basket-quantity-input+'_'+${productId}"
                                       onChange="getSum(this.id)"
                                       type="number"
                                       th:value="${productBasket.basketQuantity}"
                                       style="margin-right: 10px"
                                       class="form-control form-control-sm" min="0"
                                       th:max="${productBasket.stockQuantity}"/>

                                <!-- SUBMIT BUTTON -->
                                <button type="submit" onClick="sumAll()" id="btn-add" class="add-btn">Update</button>
                            </div>
                        </form>
                    </td>

                    <!-- BASKET -->
                    <td><input th:id="product-basket-input+'_' + ${productId}"
                               class="static"
                               type="text"
                               th:value="${productBasket.basketProductPrice}" readonly>
                    </td>

                </th:block>
            </tr>

            <tr>
                <td colspan="5">
                </td>

            </tr>

            <tr>
                <form action="/shopping/order" method="post">

                    <td colspan="4" style="text-align:right">
                        <button type="submit" class="add-btn">Process Payment</button>
                    </td>
                    <td>
                        <input id="basket-input"
                               style="font-weight: bold;"
                               class="static"
                               type="text"
                               value="0 PLN" readonly/>
                        <input hidden name="accountId" th:value="${accountId}" type="number"/>
                    </td>
                </form>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>


</body>
</html>