<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" th:href=@{/css/styles.css}>
  <meta charset="UTF-8">
  <title>Chocolate Shop</title>
</head>
<body>
<div th:if="${emailPasswordSuccess}" class="my-container">
  <h2 th:text="${emailPasswordSuccess}">Sign in was not successful. </h2>
  <hr>

  <div class="signin middle-text">
    <div style="display: inline-flex">
      <p>Go to<a href="#" th:href="@{/shopping/}" style="padding: 10px">Shopping page</a></p>
    </div>
  </div>
</div>


</body>
</html>